.idea/
*.pyc 
**/__pycache__
*.png
*.zip

save_dict.py
modifications_list.txt

deprecated/results/
Python-RVO2/
baselines/
data/dummy/
tmp/
tmp_v2/
tmp_v3/
samples
tmp*/
*.mp4
results/
results_tmp/
*.csv

calibration_dataset*

conformal_prediction_error.json
test_sample_prediction_with_robot.json
mpc/*.json
*.json
*.gif